doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='styles/app.css', rel='stylesheet')
  body
    .example
      h2 3 column layout
      
      .example-page.example-layout
      
        header header
        .body
          .col-1 Main-Content
          .col-2 Navigation
          .col-3 Sidebar
        footer footer
