doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='styles/app.css', rel='stylesheet')
  body
    .example.hide
      h2 3 column layout
      
      .example-page.example-layout
      
        header header
        .body
          .col-1 Main-Content
          .col-2 Navigation
          .col-3 Sidebar
        footer footer
    
    .example
      h2 Media Object

      .example-page.example-media
        .media
          img(src="http://lorempixel.com/50/50/people/")
          .content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        
        hr
          
        .search-group
        input(type="text" placeholder="Search")
        input(type="submit")
